.FullPost {
    border: 1px solid #000;
    padding: 10px;
}

.FullPost__date {
    font-weight: bold;
    font-size: 14px;
    color: grey;
    margin-bottom: 20px;
}

.FullPost__title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.FullPost__text {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 40px;
}

.FullPost__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.FullPost__buttons button {
    padding: 5px 10px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

.FullPost__buttons button.FullPost__delete{
    background: red;
}
.FullPost__buttons button.FullPost__edit{
    background: cornflowerblue;
}

